# Python
__pycache__/

# Environments
.env

# VSCode
.vscode/*

# Data folders
data/covers64/*
!/data/covers64/metadata.jsonl
data/covers300/*
data/celeba/*
!data/covers300.dvc
!data/covers64.dvc
!data/celeba.dvc
!data/album_data_frame.json.dvc
!/data/genres.txt
!/data/test_album_ids.txt
!/data/test_data_meta.json
tmp
learning_progress/*

# Logs
/learning_progress
