absl-py==0.11.0
appdirs==1.4.4
asn1crypto==1.2.0
astor==0.8.1
astunparse==1.6.3
atpublic==2.1.2
attrs==19.3.0
autoflake==1.4
bandit==1.6.2
black==20.8b1
boto3==1.14.31
botocore==1.17.31
cachetools==4.1.1
certifi==2020.6.20
cffi==1.14.1
chardet==3.0.4
click==7.1.2
colorama==0.4.4
commonmark==0.9.1
configobj==5.0.6
cryptography==3.0
cycler==0.10.0
darglint==1.5.5
decorator==4.4.2
defaultlist==1.0.0
dictdiffer==0.8.1
dill==0.3.2
distro==1.5.0
docformatter==1.3.1
docutils==0.15.2
dpath==2.0.1
dulwich==0.20.15
dvc==1.11.11
eradicate==1.0
flake8==3.8.4
flake8-bandit==2.1.2
flake8-broken-line==0.2.1
flake8-bugbear==19.8.0
flake8-commas==2.0.0
flake8-comprehensions==3.3.0
flake8-debugger==3.2.1
flake8-docstrings==1.5.0
flake8-eradicate==0.3.0
flake8-isort==3.0.1
flake8-polyfill==1.0.2
flake8-quotes==2.1.2
flake8-rst-docstrings==0.0.12
flake8-string-format==0.2.3
flatbuffers==1.12
flatten-dict==0.3.0
flufl.lock==3.2
ftfy==5.8
funcy==1.15
future==0.18.2
gast==0.3.3
gitdb==4.0.5
GitPython==3.1.11
google-auth==1.20.0
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
googleapis-common-protos==1.52.0
grandalf==0.6
grpcio==1.32.0
h5py==2.10.0
idna==2.10
imageio==2.9.0
importlib-metadata==1.7.0
isort==4.3.21
jmespath==0.10.0
joblib==0.16.0
jsonpath-ng==1.5.2
keras-gradient-accumulation==0.0.6
Keras-Preprocessing==1.1.2
kiwisolver==1.2.0
mailchecker==4.0.3
Markdown==3.2.2
matplotlib==3.3.0
mccabe==0.6.1
mypy-extensions==0.4.3
nanotime==0.5.2
networkx==2.4
numpy==1.18.5
oauthlib==3.1.0
olefile==0.46
opt-einsum==3.3.0
packaging==20.4
pandas==1.1.0
pathlib2==2.3.5
pathspec==0.8.0
patsy==0.5.1
pbr==5.5.1
pep8-naming==0.9.1
phonenumbers==8.12.16
Pillow==7.2.0
pipdeptree==0.13.2
ply==3.11
promise==2.3
protobuf==3.12.4
protobuf3-to-dict==0.1.5
psutil==5.7.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.6.0
pycparser==2.20
pydocstyle==5.1.1
pydot==1.4.1
pyflakes==2.2.0
Pygments==2.7.2
pygtrie==2.3.2
pyOpenSSL==19.0.0
pyparsing==2.4.7
PyQt5==5.15.0
PyQt5-sip==12.8.0
PyQtWebEngine==5.12.1
pyreadline==2.1
PySocks==1.7.1
python-benedict==0.23.2
python-dateutil==2.8.1
python-fsutil==0.4.0
python-slugify==4.0.1
pytz==2020.1
PyWavelets==1.1.1
PyYAML==5.3.1
regex==2020.7.14
requests==2.24.0
requests-oauthlib==1.3.0
restructuredtext-lint==1.3.1
rich==9.8.2
rsa==4.6
ruamel.yaml==0.16.12
ruamel.yaml.clib==0.2.2
s3transfer==0.3.3
sagemaker==1.71.0
scikit-image==0.17.2
scikit-learn==0.21.3
scipy==1.4.1
seaborn==0.9.0
shortuuid==1.0.1
shtab==1.3.4
six==1.15.0
smdebug-rulesconfig==0.1.4
smmap==3.0.4
snowballstemmer==2.0.0
spotipy==2.4.4
statsmodels==0.10.1
stevedore==3.2.2
tabulate==0.8.7
tensorboard==2.4.0
tensorboard-plugin-wit==1.7.0
tensorflow==2.4.0
tensorflow-datasets==1.2.0
tensorflow-estimator==2.3.0
tensorflow-metadata==0.22.2
termcolor==1.1.0
testfixtures==6.15.0
text-unidecode==1.3
Theano==1.0.4
tifffile==2020.7.24
toml==0.10.1
tornado==6.0.3
tqdm==4.48.0
typed-ast==1.4.1
typing-extensions==3.7.4.3
untokenize==0.1.1
urllib3==1.25.10
voluptuous==0.12.1
wcwidth==0.2.5
webencodings==0.5.1
wemake-python-styleguide==0.14.1
Werkzeug==1.0.1
win-inet-pton==1.1.0
wincertstore==0.2
wrapt==1.12.1
xmltodict==0.12.0
zc.lockfile==2.0
zipp==3.1.0
